/*
Format: 
Alphabetically arranged.
Seperated into Global then each page for specific css implementation and media queries at the very bottom to avoid specificity problems.
Global will consist of default element themes and classes.
Page CSS should only have specific classes and id for specific implementation, therefore no CSS for one page should effect others.
"Importance" property is not used in this document.
*/
/*********************
        Global
**********************/

*
{
    box-sizing: border-box;
}

a
{
    color: black;
    text-decoration: underline;
    transition: 0.2s;
}
a:hover
{
    color: coral;
}

.aside-tooltip
{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1em;
    min-height: 40px;
    max-width: 60vw;
    padding: 20px;
    position: absolute;
    
    z-index: 2;
}
.aside-tooltip:empty
{
    height: 0;
}

.banner
{
    border-bottom: 3px solid coral;
    font-size: 1rem;
    grid-area: banner;
    text-shadow: 2px 2px 2px gray;
}

.banner h1
{
    margin: 0.4em 0;
}

blockquote 
{
    background-color: rgba(235, 235, 235, 0.5);
    border-left: 0.5em solid rgba(255, 120, 0, 0.5);
    border-radius: 0.2em;
    margin: 0;
    padding: 1em;
}
blockquote > footer
{
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
    font-style: italic;
}

body
{
    margin: 0em;
    font-size: 16px;
    font-family: 'Exo', sans-serif 
}

.burger
{
    display: block;
}
.burger-container
{
    height: 30px;
    left: 9px;
    margin:0;
    position: relative;
    top: 9px;
    width: 30px;
}
.burger-icon
{
    display: none;
    float: left;
    height: 48px;
    width: 48px;
}
.burger-icon input 
{
    cursor: pointer;
    display: block;
    height: 48px;
    opacity: 0;
    position: absolute;
    width: 48px;
    z-index: 2;
}
.bread
{
    background-color: white;
    height: 1px;
    left: 7.5px;
    position: relative;
    width: 15px;
}
.bread#slice1 
{
    top: 10px;
    transition: transform 0.25s linear;
    -webkit-transition: transform 0.25s linear; /* Safari */
}
.bread#slice2
{
    top: 20px;
    transition: transform 0.25s linear;
    -webkit-transition: transform 0.25s linear; /* Safari */
}
.burger-icon input:checked ~ span #slice1
{
    background-color: coral;
    -ms-transform: translate(0, 5px) rotate(50deg); /* IE 9 */
    transform: translate(0, 5px) rotate(50deg);
    -webkit-transform: translate(0, 5px), rotate(50deg); /* Safari */
}
.burger-icon input:checked ~ span #slice2
{
    background-color: coral;
    -ms-transform: translate(0, -6px) rotate(-50deg); /* IE 9 */
    transform: translate(0, -6px) rotate(-50deg);
    -webkit-transform: translate(0, -6px), rotate(-50deg); /* Safari */
}


.button
{
    background-color: rgba(50, 50, 50, 1);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5em 1em;
    height:100%;
}
.button:hover
{
    background-color: dimgray;
    color: white;
}

code
{
    background-color: gainsboro;
}

figure 
{
    margin: 0;
    text-align: center;
}
figure figcaption
{
    padding: 5px;
}
figure img
{
    height: auto;
    max-width:100%;
}

form
{
    border: 1px solid black;
    padding:1em;
}
.form-comp
{
    padding: 1vw;
}
.form-comp .form-control
{
    display: block;
    min-width: 72px;
    min-height: 44px;
}
.form-comp label
{
    vertical-align: 40%;
}
form fieldset
{
    border: 1px solid coral;
    margin-bottom: 1em;
}
form fieldset legend
{
    font-size: 1em;
    font-weight: bold;
}
.form-group .form-comp
{
    display: inline-block;
}
form legend
{
    font-size: 1.5em;
    padding-bottom: 1em;
}
form textarea
{
    width: 100%;
    height:15em;
    resize:vertical;
}

.gallery
{
    margin: 5em 0 1em 0; 
}
.gallery figcaption
{
    font-size: 0.9em;
    padding: 2px;
    text-align: center;
    visibility: hidden;
}
.gallery figure
{
    display: inline-table;
    width: 30%;
}
.gallery figure:hover > figcaption
{
    display: block;
    visibility: visible;
}
.gallery img
{
    height: auto;
    width: 90%;
}

.glossary-term
{
    cursor: pointer;
    background-color: white;
    border: none;
    color: coral;
    font-weight: bold;
}

html
{
    scroll-behavior: smooth;
}

h1
{ 
    font-size: 2em; 
    text-align: center;
}
h1 > em{ font-size: 0.5em;}
h2{ font-size: 1.8em;}
h3{ font-size: 1.6em;}
h4{ font-size: 1.4em;}
h5{ font-size: 1.2em;}
h6{ font-size: 1.0em;}

main
{
    background: white;
    grid-area: main;
}

[class*="menu"]
{
    background-color: rgba(50,50,50,1);
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.menu
{
    grid-area: menu;
}

.menu-active
{
    background-color: orangered;
}

.menu-active:hover + #toc
{
    display: block;
}

.menu-item
{
    display: inline;
    float: left;
}

.menu-list
{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.page-footer
{
    background-color: dimgray;
    grid-area: footer;
    padding: 1em;
    text-align: center;
}
.page-footer a
{
    /*override default theme of <a>*/
    color: white;
}
.page-footer small
{
    color: white;
    font-size: 0.8em;
}

#page-title
{
    background-color: rgba(110, 110, 110, 1);
    color:white;
    font-size: 0.9rem;
    padding: 0.1em 0 0.1em 0;
    text-align: center;
}

[class*="post"]
{
    /*
        Generic Theme for all 'post' classes without having to add an additional class like 'post-theme'
    */
    background: white;
    color: black;
}
.post
{
    margin: 0 0 2em 0;
    padding: 2em;
}
.post header 
{
    border-bottom: 0.2vh solid coral;
    border-top: 0.2vh solid coral;
    color: coral;
    margin-bottom: 2em;
    text-align: center;
}

.post-date{ padding: 2em 0 0 0;}

.references ul{ list-style: square;}

.sources
{
    border-top: 0.2vh solid coral;
    padding: 1em;
}

#toc
{
    background-color: dimgray;
    font-size: 1em;
    grid-area: toc;
}
#toc-contents
{
}
#toc a 
{
    color:white;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}



#to-top
{
    bottom: 25px;
    color: rgba(255, 127, 80, 0.3);
    display: none;
    font-size: 36px;
    position: fixed;
    right: 45%;
    z-index: 99;
}

#wrapper
{
    display: grid;
    grid-template-areas: 
        "banner banner banner"
        "menu menu menu"
        "main main main"
        "footer footer footer";
    grid-template-columns: 1fr 7fr 2fr;
    margin: 0em;
}

/*********************
    Index Page CSS
**********************/

#brackets 
{
    overflow: auto;
}
/* clearfix hack */
#brackets::after
{
    content: "";
    clear: both;
    display: table;
}

#brackets img
{
    float: left;
    max-width: 5em;
    margin-right: 1em;
}


.card
{
    display: flex;
    width: 33.33%;
    padding: 1em;
}
#card-bronze .card-content
{
    background-color: rgba(205, 127, 50, 1);
}
.card-content
{
    border-radius: 10px;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    width:100%;
}
#card-gold .card-content
{
    background-color: rgba(218,165,32, 1);
}
.cards
{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
#card-silver .card-content
{
    background-color: rgba(192,192,192,1);
}

#flexbox-example
{
    background-color: rgba(215, 60, 90, 1);
    color: white;
    border-radius: 10px;
    padding: 0.5em;
    text-align: center;
}

#grid-layout
{
    overflow: auto;
}

#position-absolute
{
    height:20%;
    position: absolute;
    right: 0;
    top: 40px;
    width: 40%;
}
#position-container
{
    border: 1px solid coral;
    height: 300px;
    padding: 10px;
    position: relative;
    width: 80vw;
}
.position-example
{
    background-color: coral;
    color: white;
    padding: 10px;
}
#position-fixed 
{
    background-color: coral;
    bottom: 0;
    position: fixed;
    right: 0;
    /*default to hidden to avoid appearing as JS is loading*/
    visibility: hidden;
    z-index: 1;
    
}
#position-static
{
    position: static;
}
#position-sticky
{
    background-color: coral;
    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 0;
    z-index: 1;
}
#position-relative
{
    left: 50px;
    position: relative;
    width: 50%;
}

.table-item { background-color: lightpink;}

#text-example-1
{
    border: 1px solid black;
    font-family: Cinzel, Georgia, "Times New Roman";
    padding: 0.5em;
}
#text-example-1:first-letter 
{
    color:black;
    float: left;
    font-family: Cinzel, Georgia;
    font-size: 4em;
    line-height: 0.2;
    padding: 0.2em 0 0 0;
}

#timetable
{
    padding:1em;
    width:100%;
}
#timetable caption{ font-weight: bold;}
#timetable td
{
    border-radius: 0.5em;
    text-align: center;
    width:25%;
}
#timetable th
{
    border-bottom: 1px solid coral;
    font-weight: normal;
}

#pre-grid-layout-figure 
{
    display: block;
    float: right;
    margin: 5px;
    padding: 0 1em;
    text-align: center;
    width:50%;
}
#pre-grid-layout-figure figcaption
{
    font-style: italic;
}

#pre-grid-layout-figure::after
{
    content: "";
    clear: both;
    display: table;
}

/*********************
    Tutorial Page CSS
**********************/
.recipe h4
{
    background-color: rgba(240, 150, 100, 0.8);
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    text-align: center;
}

.recipe-ingredients li
{
    font-size: 1.2em;
    list-style: disc;
    padding: 0.2em;
}
.recipe-intro 
{
    background-color: rgba(240, 150, 100, 0.5);
    border-radius: 0.5em;
    overflow: auto;
    padding: 1em;
}
.recipe-intro-text
{
    padding-left: 1em;
}

.recipe-intro div
{
    overflow: auto;
    padding: 10px 20px;
}

.recipe-intro i
{
    float: left;
    padding-right: 5px;
}
.recipe-intro img
{
    float:left;
    max-width: 30%;
}
.recipe-method li
{
    counter-increment: method-counter;
    display: flex;
    font-size: 1.2em;
    padding: 0.3rem;
    line-height: 2.5em;
    margin-bottom: 0.5rem;
    width: 100%;
}
.recipe-method li::before
{
    content: counter(method-counter);
    font-family: 'Abril FatFace', serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-right: 0.5rem;
}
.recipe-method ol
{
    counter-reset: method-counter;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding:0;
}
.recipe-serving
{
    line-height: 150%;
}
.recipe-times i
{
    padding-top: 5px;
}
.recipe-times span::after
{
    content: "";
    display: block;
}
.recipe-video
{
    display: block;
    padding: 1em;
}

/********************
  CONTACTS PAGE CSS 
*********************/

#contact-preference input
{
    display: inline;
    min-width: 44px;
    min-height: 27px;
}

#message-comp
{
    display: block;
    padding-top: 1em;
}

/********************
    MEDIA QUERIES
*********************/

/*For medium devices*/
@media only screen and (max-width:960px)
{
    
    div.gallery figure 
    {
        display: block; 
        width: 100%;
    }
    div.gallery figure figcaption
    {
        visibility: visible;
    }
    
    .menu-list li
    {
        display: inline-block;
        float:left;
    }
    
    #toc 
    {
        display: block;
        height: 100vh;
    }
    
    #wrapper
    {
        grid-template-areas: 
            "banner banner"
            "menu menu"
            "main main"
            "footer footer";
        grid-template-columns: 6fr 2fr;
    }
    
}

/*For small devices*/
@media only screen and (max-width:800px)
{
    .burger-icon
    {
        display: inline;
    }
    
    div.gallery figure 
    {
        display: block; 
    }
    div.gallery figure figcaption
    {
        visibility: visible;
    }
    
    .card
    {
        width:100%;
    }
    
    .menu-list 
    {
        display: none;
    }
    
    .menu-item
    {
        display: block;
        width: 100%;
    }
    
    .menu-list li 
    {
        width:100%;
    }
    
    #pre-grid-layout-figure
    {
        border: none;
        width: 100%;
    }
    
    .recipe-intro img
    {
        float: inherit;
        max-width: 100%;
    }
    
    #wrapper
    {
        grid-template-areas: 
            "banner"
            "menu"
            "aside"
            "main"
            "footer";
        grid-template-columns: 100vw;
        overflow: hidden;
    }
    
}
